# gradle

.gradle/
build/
out/
classes/
javalibs/
src/main/java/
# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# compile.hxml
compile.hxml

# haxe
src/main/java/**

# project specific
out.jar
outjar